* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
  max-width: 1600px;
  margin: auto;
}

/* configuração geral */

.prodSection {
  display: flex;
  background: white;
  max-width: 1600px;
}

/* parte dos produtos */

.ulProd {
  margin-top: 10px;
  width: 130.5vh;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: left;
  padding: 10px;
}

.alignUl {
  display: flex;
  justify-content:flex-end;
}

.ulProd li {
  min-width: 220px;
  min-height: 450px;
  max-width: 200px;
  max-height: 450px;
  margin: 0 10px 10px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 2px lightblue solid;
  border-radius: 10px;
  transition: 0.5s;
}

.ulProd li:hover {
  border: 2px pink solid;
}

.divImg {
  min-height: 270px;
  display: flex;
}

.divImg img {
  width: 200px;
  max-height: 270px;
  overflow: hidden;
  list-style-type: none;
  border-radius: 10px;
}

.buttons button {
  display: flex;
  flex-direction: row;
  min-width: 22vh;
  height: 25px;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  border: none;
  border-radius: 5px;
  background-color: lightblue;
  transition: ease-out 0.5s;
  outline: none;
  box-shadow: inset 0 0 0 0 lightpink;
}

.buttons a {
  text-decoration: none;
  color: black;
  width: 100%;
}

.buttons button:hover {
  box-shadow: inset 220px 0 0 0 lightpink;
}

.divTitle {
  min-height: 80px;
  display: flex;
  flex-direction:column;
  justify-content: center;
  text-align: center;
}

.divPrice {
  text-align: center;
}

/* parte da propaganda */

.propagandaCima {
  margin-top: 10px;
  min-height: 80px;
  display: flex;
  justify-content: center;
  background-color: rgb(37, 62, 70);
}

.asideEsquerda {
  display: flex;
  margin-top: 20px;
  min-width: 250px;
  height: 2000px;
  background-color: pink;
  /* border: 1px solid */
}